.container {
	max-width:1000px;
	margin:0px auto 0px auto;
}

.container > hr {
	margin:60px 0px 60px 0px;
}

.jumbotron {
	text-align:center;
	margin:80px 0px 80px 0px;
}

.jumbotron h1 {
	font-size:100px;
	line-height:1;
}

.jumbotron .lead {
	font-size:24px;
	line-height:1.25;
}

.jumbotron .btn {
	font-size:21px;
	padding:14px 24px 14px 24px;
}

.marketing {
	margin:60px 0px 60px 0px;
}

.marketing p + h4 {
	margin-top:28px;
}

#navbarwrapp {
	margin-top: 15px;
}

.navbar .navbar-inner {
	padding:0;
}

.navbar .nav {
	display:table;
	width:100%;
	margin:0;
}

.navbar .nav li {
	display:table-cell;
	width:1%;
	float:none;
}

.navbar .nav li a {
	font-weight:bold;
	text-align:center;
}

.buttonnav {
	padding: 0;
	border-radius: 0;
}

.navbar .nav .buttonnav a {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding-top: 9px;
	padding-bottom: 9px;
}

.navbar .nav > .buttonnav > a:focus, .navbar .nav > .buttonnav > a:hover {
	color: #ffffff;
}

p[data-toggle=popover] {
	/* How can we show that text has a popover? */
	/*border-right: 2px solid gray;*/
	position: relative;
	cursor: help;
}

.popover {
	z-index: 10000;
}
.tooltip.right {
	margin-left: 6px;
}

.carousel-control {
	top: 50%;
	margin-top: -23px;
}

img {
	border-radius: 6px;
}

.img-polaroid>div.carousel-inner>div.item>img {
	border-radius: 0;
}

p img {
	margin: 10px;
}

p.lead {
	padding-bottom: 30px;
	padding-top: 30px;
}

video {
  width: 100%    !important;
  /*height: auto   !important;*/
}

a.commentIcon {
	margin: 5px;
}